.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* NAVIGABILITA < 768px */
/* REGOLE GENERICHE */
@media screen and ( max-width: 768px){
  body {
    color: white;
  }

  div {
    background-color: #000099;
    border-radius: 50px;
  }

  img {
    height: 50px;
  }

  hr {
    color:white;
  }

  h1, h3 {
    color:#e6e600;
  }

  /* FINE REGOLE GENERICHE */
  /* INIZIO REGOLE SPECIFICHE */

  .row {
    width: 100%;
  }

  #lezioni .row .lef
  #lezioni .row .right {
    width: 100%;
  }

  #step .row .left
  #step .row .central
  #step .row .right {
    width: 100%;
  }

  #why .row img {
    height: 150px;
  }
}
/* FINE NAVIGABILITA 768 */
/* NAVIGABILITA < 420px */
/* REGOLE GENERICHE */

@media screen and ( max-width: 419px){
  body {
    background-color: white;
    color: black;
  }

  div {
    background-color: #ffff4d;
  }

  img {
    height: 50px;
  }

  hr {
    color:white;
  }

  h1, h3 {
    color: red;
  }

  .row {
    width: 100%;
  }
/* FINE REGOLE GENERICHE */
/* INIZIO REGOLE SPECIFICHE */

  #lezioni .row .lef
  #lezioni .row .right {
    width: 100%;
  }

  #step .row .left
  #step .row .central
  #step .row .right {
    width: 100%;
  }

  #why .row img {
    height: 150px;
  }
}
/* FINE NAVIGABILITA 420 */
